body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #74afcb;
    padding: 20px 20px;
    position: relative;
}
.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px; /* Adjust this value as needed */
    margin-right: 200px; /* Adjust this value as needed */
    width: 20px;
    height: 20px;
    background-color: transparent;
    font-size: 10px;
    font-weight: bolder;
    /* color: white; */
    text-align: center;
    border-color: black 2px solid;
    border-radius: 50%;
}
/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    color: yellow;
}

/* Style the active/current link*/

/* Float the link section to the right */
.header-right {
    float: right;
}

.lg {
    background-color: #2a6d76;

    border-radius: 40px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #74afcb;
    color: white;
    text-align: center;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.container {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
    @media screen and (min-width: 500px) {
        .uperbox {
            /* margin: 5px; */
            padding: 5px;

            border-radius: 10px;
            width: 400px;
            height: 400px;
        }
        #description {
            height: 100px;
            width: 800px;
        }

        .h1 {
            margin-left: 10px;
        }

        .image {
            height: 150px;
            width: 150px;
            border: 50%;
            margin-top: 10px;
            margin-left: 10px;
        }

        .prof_tb {
            position: absolute;
            top: 20%;
            left: 20%;
        }

        .lowerbox {
            float: right;
            margin-left: 50px;
            /* margin: 5px; */
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
            width: 500px;
            height: 400px;
            background-color: rgb(238, 238, 225);
        }
    }

    .img {
        height: 80px;
        width: 80px;
    }

    /* Your existing CSS here */

    /* Add media query for smaller screens */
    @media screen and (max-width: 767px) {
        .header a.logo {
            text-align: center;
        }

        .header-right {
            float: none;
            text-align: center;
            margin-top: 10px;
        }

        .uperbox,
        .lowerbox {
            width: 100%; /* On smaller screens, make them full width */
            margin-right: 0; /* Reset margin */
        }

        .column-4 {
            width: 100%;
        }
    }
}
